.colors button {
    border: 0;
    background: #ffffff;
    cursor: pointer;
    padding: 5px;
    border: #444;
    width: 20px;
    border-radius: 20px;
    margin: 0 2px;
    height: 20px;
}

.cart-btn p {
    padding-left: 0;
}
