

button {
    border: 0;
    background: #fff;
    cursor: pointer;
}

.main-content-wrapper .header-area .cart-fav-search button {
    border: none;
    background: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
    color: #131212;
    line-height: 1;
    cursor: pointer;
}

.main-content-wrapper .header-area .cart-fav-search button:hover {
    color: #fbb710;
}

.main-content-wrapper .header-area .cart-fav-search button img {
    margin-right: 10px;
}

.search-wrapper.search-open {
    top: 0px;
}

.header-area.mobile-open {
    left: 0;
}


