

button {
    border: 0;
    background: #fff;
    cursor: pointer;
}

.main-content-wrapper .header-area .cart-fav-search button {
    border: none;
    background: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
    color: #131212;
    line-height: 1;
    cursor: pointer;
}

.main-content-wrapper .header-area .cart-fav-search button:hover {
    color: #fbb710;
}

.main-content-wrapper .header-area .cart-fav-search button img {
    margin-right: 10px;
}

.search-wrapper.search-open {
    top: 0px;
}

.header-area.mobile-open {
    left: 0;
}


.quantity, .options {
    width: 200px!important;
}

.quantity {
    border: .5px solid #ced4da;
    align-items: center;
    border-radius: 5px
}

.quantity label {
    color: #444;
    padding-left: 10px;
    margin: 0;
}

.quantity input {
    flex: 1;
    margin: 2px;
    text-align: center;
    background-color: #f5f7fa;
    height: 40px;
    width: 100px;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    color: #959595;
}

.single_product_thumb .carousel img {
    max-height: 350px;
    object-fit: cover;
}

.options select {
    width: 100%;
    padding: 10px;
    border: 0;
    color: #242424;
}

td, th {
    vertical-align: middle!important;
}

.cart_product_img img {
    min-width: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
