.text-secondary {
    color: #444!important;
}

.custom-border-primary {
    border: .5px solid #fbb808!important;
}
.custom-outline-primary {
    outline-color: #fbb808!important;
}

.border-light {
    border: .5px solid #dee2e6!important;
}

.btn {
    outline: 0;
    border: none!important;
}

.custom-btn-primary {
    background-color: #fbb808;
    color: #444;
}

.custom-btn-primary:hover{
    background-color: #e6aa0b!important;
}

.custom-btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
}

.modal.show {
    display: block!important;
    background-color: #00000091;
}

button {
    border: 0;
    background: #fff;
    cursor: pointer;
}

.main-content-wrapper .header-area .cart-fav-search button {
    border: none;
    background: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
    color: #131212;
    line-height: 1;
    cursor: pointer;
}

.main-content-wrapper .header-area .cart-fav-search button:hover {
    color: #fbb710;
}

.main-content-wrapper .header-area .cart-fav-search button img {
    margin-right: 10px;
}

.search-wrapper.search-open {
    top: 0px;
}

.header-area.mobile-open {
    left: 0;
}

.quantity, .options {
    width: 200px!important;
}

.quantity {
    border: .5px solid #ced4da;
    align-items: center;
    border-radius: 5px
}

.quantity label {
    color: #444;
    padding-left: 10px;
    margin: 0;
}

.quantity input {
    flex: 1;
    margin: 2px;
    text-align: center;
    background-color: #f5f7fa;
    height: 40px;
    width: 100px;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    color: #959595;
}

.single_product_thumb .carousel img {
    max-height: 350px;
    object-fit: cover;
}

.options select {
    width: 100%;
    padding: 10px;
    border: 0;
    color: #242424;
}

td, th {
    vertical-align: middle!important;
}

.cart_product_img img {
    min-width: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.address-wrapper {
    padding: 15px;
    text-align: left;
}

.address-wrapper span {
    font-size: .8rem;
    color: #6b6b6b;
    display: block;
}

.custom-form-control {
    height: 60px;
    border-radius: 0!important;
    border: .5px solid #ced4da!important;
    padding: 30px;
    color: #6b6b6b!important;
    font-size: 14px;
}

.custom-form-control:disabled {
    background-color: #e9ecef!important;
}

.section-title {
    margin-top: 50px!important;
}

.section-title h2 {
    margin-bottom: 50px!important;
    font-size: 30px;
    color: #242424;
}

.main-content-wrapper .header-area .logo {
    margin-bottom: 50px!important;
}

.session-actions * {
    color: #131212;
    font-size: 16px!important;
    line-height: 0.9;
}

.session-actions .action {
    font-size: 14px!important;
}

.session-actions a {
    color: #fbb710;
}

.session-actions a:hover {
    text-decoration: underline;
}


.dialog {
    position: fixed;
    bottom: 10px;
    right: 0;
    margin: 0 10px;
    max-width: 280px;
    width: 100%;
    background: #f5f7fa;
    padding: 10px;
    z-index: 2000;
    border-radius: 10px;
    display: none;
}
.dialog.show {
    display: block!important;
}

.dialog .dialog-header img {
    margin: 0 10px;
}
.dialog .dialog-body p {
    font-size: 12px;
}

.card-action {
    margin: 0 3px;
    color: #131212;
    font-weight: 400;
    font-size: 12px;
    border: 0!important;
}
.order-wrapper {
    width: 100%;
}
.order-wrapper > .col:first-child {
    max-width: 320px;
}
.order-wrapper .card-subtitle{
    font-size: .9rem;
}
.order-wrapper .detail .info span{
    font-size: .75rem;
}
.order-wrapper .detail .info strong{
    font-size: .8rem;
}